.body{
    background-color: rgb(0, 0, 0);
    
}
.div{
    background-color: rgb(20, 20, 99);
    color: aqua;
}
#profile{
    background-color: #F2AA4CFF;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    

}
#mainComponent{
    background-color: #101820FF;
    height: 100vh;
    font-family: monospace;
}
#projectCard{
    background-color: #F2AA4CFF;
    border:'solid red';

}
/* From https://css.glass */
