html, body { height: 100%; width: 100%; margin: 0; }
.div{
    background-color: rgb(20, 20, 99);
    color: aqua;
}
#profile{
    background-color: #F2AA4CFF;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: pre-line;
    
    

}
#mainComponent{
    background-color: #101820FF;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#projectCard{
    background-color: #F2AA4CFF;
    border:'solid red';

}


.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    
    color: white;
}
.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px ;
    border: 2px solid #F2AA4CFF;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.loginForm{
    background-color: #F2AA4CFF;
    
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50px;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    
    
  }
  [data-popup='tooltip'].popup-overlay {
    
    
  }

.redirectlink{
    cursor: pointer;
}
#userTable{
  color:white;
}
#firstRow{
  background-color:#F2AA4CFF ;
}
.profileBorder{
  border-radius: 20px;
  border-style: solid;
  border-color: #505254;
  padding: 15px;

}
.sectionTitle{
  text-align: center;
}
.informationSection{
  color: white;
  margin: 10px;
  margin-top: 30px;
  text-align: center;
  height: 60%;
}
.infoParagraph{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #505254;

}
.avatar{
  align-content: center;
}
.updateDesc{
  clear: both;
  color: white;
  text-align: center;
  font-size: 15px;

}




.tableContainer{
  height: 90%;

}
.projectsTable{
  background-color:white ;
}
.MuiTableHead-root{
  background-color: #F2AA4CFF;
}


